/* This is for styles that can't be shown in the Twine editor - like local background images */

body #passages a,
body #passages a:hover {
	background: url("images/spikey-btn.png") no-repeat center;
	background-size: contain;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(1.15);
}